.butstyle
{
    margin: 5px;
    font-size:4vh;
    border-radius:20px;
    color: white;
    background-color: #041f36;
}
.butstyle:hover
{
  background-color: #063968;
}
*
{
    box-sizing: border-box;
}
body
{
 margin:0;
}
#FrontPage
{
    width: 100%;
    height: 100%;
    background-color:#063968;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid white;
}
.ContentBox
{
    display: block;
    margin: 15px;
    padding: 5px;
}
#TypeWriter
{
  color: white;
  font-size: 6vw;
}
.Link
{
    text-decoration: none;
    color: white;
    font-size: 4vw;
    padding: 2px 10px 2px 10px;
    border: 3px solid #041f36;
    border-radius: 20px;
}
.Link:hover
{
    text-decoration: none;
    color: white;
    background-color: #052847e7;
    border-radius: 20px;
    cursor: pointer;
}
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
  #MainGame
  {
    height: 100%;
    width: 100%;
    background-color:#063968;
  }
  .Squarebox
  {
    font-size: 4em;
    color: black;
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
  }
  .Dis
  {
    width: 100%;
    height: 100%;
  }
  .Disbox
  {
    width: 40%;
    height:50%;
  }
  .buttons
  {
    height:50%;    
  }
  .butcontain
  {
    width: 100%;
    height:100%;
  }
  @media screen and (min-width : 700px)
  {
    .Squarebox
    {
      font-size: 5em;
    }
  }